%% -*- erlang -*-
{erl_opts, [
%   {d, 'UNIDATA_DEBUG'},
    {d, 'SLOW_TESTS'},
    debug_info]}.
{deps, [
%% We needs the reloader from Mochiweb
% {mochiweb, ".*",
%  {git, "git://github.com/mochi/mochiweb.git", "master"}},

%% Comment to run doc generation for github:
%  {edown, ".*", {git, "git://github.com/esl/edown.git", "master"}},

    {abnfc, ".*",
        {git, "git://github.com/nygge/abnfc.git", "master"}},
    {metamodule, ".*",
        {git, "git://github.com/arcusfelis/metamodule.git", "master"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{doclet, edown_doclet},
            {src_path, ["src/"]},
            {subpackages, true}]}.

