%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
% We needs the reloader from Mochiweb
% {mochiweb, ".*",
%  {git, "git://github.com/mochi/mochiweb.git", "master"}},
%  {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{doclet, edown_doclet},
            {src_path, ["src/"]},
            {subpackages, true}]}.
